name: Full Build (Binaries & Installers)

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2
    
    - name: Setup WiX Toolset (v3.14)
      shell: pwsh
      run: |
        $wixPath = "C:\Program Files (x86)\WiX Toolset v3.14"
        $binPath = Join-Path $wixPath "bin"
    
        if (-not (Test-Path $binPath)) {
          choco install wixtoolset --version 3.14.1 --force -y
        }
    
        Add-Content -Path $env:GITHUB_PATH -Value $binPath
        Add-Content -Path $env:GITHUB_ENV -Value "WIX=$wixPath"

    - name: Install HTML Help Workshop
      shell: pwsh
      run: |
        choco install html-help-workshop -y
        Add-Content $env:GITHUB_PATH "C:\Program Files (x86)\HTML Help Workshop"

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Restore NuGet Packages
      run: nuget restore "${{ github.workspace }}\Src\OpenShell.sln"

    - name: Run Open-Shell Build Script
      shell: cmd
      run: |
        call "%GITHUB_WORKSPACE%\Src\Setup\__MakeFinal.bat"

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Open-Shell-Final-Setup
        path: |
          Src/Setup/Final/*.exe
          Src/Setup/Final/*.msi
          Src/Setup/Final/*.zip
